{{#each dbProductData as |product| }}
<div class="card container">
  <div class="card">
    <h2>{{product.product_name}}</h2>
  </div>
  <div class="card">
    <h2>{{product.price}}</h2>
  </div>
   <div class="card">
    <h2>{{product.stock}}</h2>
  </div>
   <div class="card">
    <h2>{{product.category_id}}</h2>
  </div>
   <div class="card">
    <h2>{{product.size}}</h2>
  </div>
   <div class="card">
    <img src={{format_source product.parentFolder product.filename}}>

  </div>
   <div class="card">
    <h2>{{product.parentFolder}}</h2>
  </div>
   <div class="card">
    <h2>{{product.gender}}</h2>
  </div>

</div>
{{/each}}

{{!-- {{#each products as |product|}}
{{> product-details}}
{{/each}} --}}

   